Meetings/
Metadata/
Publishing/workshop_template.md
webapi/
Lesson_development/curl_playground.sh
Lesson_development/Outputs/
.env
.ipynb_checkpoints/
*json
*.py
Lesson_development/lesson.md
*.sh
Lesson_development/metadata_model_upload_dataset.yaml